<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixid-top navbar-inverse">
     <div class="container">
       <nav class="nav navbar-nav navbar-left" >
         <div class>Bookers2</div>
       </nav>
    
        <nav class="nav navbar-nav navbar-right">
          
          <% if user_signed_in? %>
          
        <ul class="nav navbar-nav navbar-right">  
      
      <li>
        <%= link_to user_path(current_user.id) do %>
        <span class= "glyphicon glyphicon-home" aria-hidden="true" > Home</span>
        <% end %>
      </li>
      <li>
        <%= link_to users_path do %>
        <span class= "glyphicon glyphicon-user" aria-hidden="true" > Users</span>
        <% end %>
      </li>
      <li>
        <%= link_to books_path do %>
        <span class= "glyphicon glyphicon-book" aria-hidden="true" > Books</span>
      <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <span class= "glyphicon glyphicon-log-out" aria-hidden="true" > Log out</span>
        <% end %>
      </li>
      </ul>
      
      <% else %>
      
      <ul class="nav navbar-nav navbar-right">
      
      <li>
        <%= link_to root_path do %> 
        <span class= "glyphicon glyphicon-home" aria-hidden="true" > Home</span>
        <% end %>
      </li>
      <li>
        <%= link_to about_path do %>
        <span class= "glyphicon glyphicon-link" aria-hidden="true" > About</span>
        <% end %> 
      </li>
      <li>
        <%= link_to new_user_registration_path do %>
        <span class= "glyphicon glyphicon-edit sign_up" aria-hidden="true" > Sign up</span>
        <% end %>
      </li> 
      <li>
        <%= link_to new_user_session_path do %> 
        <span class= "glyphicon glyphicon-log-in" aria-hidden="true" > Log in</span>
        <% end %>
      </li>
      </ul>
      <% end %>
      </nav>
      </div>
    </header>
  
    <%= yield %>
    
    <footer>
      <div class= 'container' >
        <div class='row' >
          <div class='col-sm-9 col-sm-offset-3' >
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
